.navigationWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  color: white;
  background: #333;
  z-index: 9999999;
}
.navigationWrap a {
  color: white;
}
.left-menu {
  padding: 0 1em;
  height: 100vh;
  overflow: hidden;
  width: 20px;
  transition: width 0.3s;
  transition-timing-function: ease;
}
.menu-icon {
  margin-top: 1em;
  cursor: pointer;
  transition: 0.1s;
}
.navigationWrap:hover > .left-menu {
  width: 226px;
  transition: width 0.3s;
}
.navigationWrap .left-menu:hover > .menu-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.navigationWrap .left-menu:hover > nav svg {
  margin-right: 20px;
}
.navigationWrap .left-menu:hover > nav ul li a span {
  opacity: 1;
}
.menu-icon img {
  width: 20px;
  color: white;
}
nav {
  height: 100%;
  margin-top: -24px;
  display: table;
}
nav ul {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 24px;
}
nav ul li {
  list-style: none;
  display: flex;
}
nav ul li:nth-child(2) svg {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
nav ul li a {
  text-decoration: none;
  padding: 18px 0;
  display: block;
  line-height: 1;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  transition: 0.2s;
}
nav ul li a span {
  opacity: 0;
  transition: 0.4s;
}
nav ul li a:hover > svg {
  opacity: 1;
}
nav ul li a svg {
  margin-right: 30px;
  width: 20px !important;
  opacity: 0.5;
  transition: 0.2s;
}
nav ul li a.active svg {
  opacity: 1;
}
