body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}
.App {
  padding-left: 52px;
  background: #f1f1f1;
}
.mainWrap {
  min-height: 100vh;
  position: relative;
  /*display: flex;
  flex-direction: column;
  flex: 5;*/
}
.main {
  display: flex;
  flex-direction: row;
  padding-bottom: 120px;
}
.content {
  flex: 4;
  /*height: 70vh;*/
  overflow: auto;
}
.wrap {
  padding: 1em 3em;
}
aside {
  flex: 0;
}
input {
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: 3px solid #636f77;
}
